In [ ]:
import pandas as pd

df = pd.read_csv("estat_env_air_gge.tsv", sep="\t")

df.head()

,"freq,unit,airpol,src_crf,geo\TIME_PERIOD",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"A,MIO_T,CH4,CRF1,AT",0.05434,0.04967,0.04875,0.04633,0.03952,0.0404,0.03945,0.03695,0.03621,...,0.03035,0.03029,0.03029,0.03143,0.02837,0.02766,0.02689,0.0284,0.02539,0.02415
1,"A,MIO_T,CH4,CRF1,BE",0.06409,0.05937,0.05342,0.05452,0.04838,0.04837,0.04849,0.04531,0.04376,...,0.04006,0.04289,0.04275,0.04205,0.04152,0.04196,0.0406,0.04231,0.03846,0.03934
2,"A,MIO_T,CH4,CRF1,BG",0.09971,0.08446,0.0938,0.09466,0.08749,0.08974,0.08973,0.08154,0.07289,...,0.05942,0.06451,0.06107,0.06569,0.0598,0.05625,0.05278,0.05781,0.06119,0.04647
3,"A,MIO_T,CH4,CRF1,CY",0.00051,0.00052,0.00052,0.00052,0.00054,0.00056,0.00058,0.00057,0.00058,...,0.0005,0.00062,0.00064,0.00071,0.0007,0.00073,0.00072,0.00072,0.00076,0.00068
4,"A,MIO_T,CH4,CRF1,CZ",0.45396,0.4141,0.38199,0.39465,0.37544,0.3684,0.3678,0.35565,0.33804,...,0.16524,0.16019,0.14307,0.13059,0.12107,0.10939,0.09386,0.09667,0.0847,0.07195

In [6]:
df.shape

(47162, 35)

In [7]:
df.columns

Index(['freq,unit,airpol,src_crf,geo\TIME_PERIOD', '1990 ', '1991 ', '1992 ',
       '1993 ', '1994 ', '1995 ', '1996 ', '1997 ', '1998 ', '1999 ', '2000 ',
       '2001 ', '2002 ', '2003 ', '2004 ', '2005 ', '2006 ', '2007 ', '2008 ',
       '2009 ', '2010 ', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ',
       '2017 ', '2018 ', '2019 ', '2020 ', '2021 ', '2022 ', '2023 '],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47162 entries, 0 to 47161
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   freq,unit,airpol,src_crf,geo\TIME_PERIOD  47162 non-null  object
 1   1990                                      47162 non-null  object
 2   1991                                      47162 non-null  object
 3   1992                                      47162 non-null  object
 4   1993                                      47162 non-null  object
 5   1994                                      47162 non-null  object
 6   1995                                      47162 non-null  object
 7   1996                                      47162 non-null  object
 8   1997                                      47162 non-null  object
 9   1998                                      47162 non-null  object
 10  1999                                      47162 non-null  object
 11  2000                                      47162 non-null  object
 12  2001                                      47162 non-null  object
 13  2002                                      47162 non-null  object
 14  2003                                      47162 non-null  object
 15  2004                                      47162 non-null  object
 16  2005                                      47162 non-null  object
 17  2006                                      47162 non-null  object
 18  2007                                      47162 non-null  object
 19  2008                                      47162 non-null  object
 20  2009                                      47162 non-null  object
 21  2010                                      47162 non-null  object
 22  2011                                      47162 non-null  object
 23  2012                                      47162 non-null  object
 24  2013                                      47162 non-null  object
 25  2014                                      47162 non-null  object
 26  2015                                      47162 non-null  object
 27  2016                                      47162 non-null  object
 28  2017                                      47162 non-null  object
 29  2018                                      47162 non-null  object
 30  2019                                      47162 non-null  object
 31  2020                                      47162 non-null  object
 32  2021                                      47162 non-null  object
 33  2022                                      47162 non-null  object
 34  2023                                      47162 non-null  object
dtypes: object(35)
memory usage: 12.6+ MB

In [9]:
df_split = df.copy()

df_split[['freq','unit','airpol','src_crf','geo']] = df_split['freq,unit,airpol,src_crf,geo\\TIME_PERIOD'].str.split(',', expand=True)

df_split.head()

,"freq,unit,airpol,src_crf,geo\TIME_PERIOD",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2019,2020,2021,2022,2023,freq,unit,airpol,src_crf,geo
0,"A,MIO_T,CH4,CRF1,AT",0.05434,0.04967,0.04875,0.04633,0.03952,0.0404,0.03945,0.03695,0.03621,...,0.02766,0.02689,0.0284,0.02539,0.02415,A,MIO_T,CH4,CRF1,AT
1,"A,MIO_T,CH4,CRF1,BE",0.06409,0.05937,0.05342,0.05452,0.04838,0.04837,0.04849,0.04531,0.04376,...,0.04196,0.0406,0.04231,0.03846,0.03934,A,MIO_T,CH4,CRF1,BE
2,"A,MIO_T,CH4,CRF1,BG",0.09971,0.08446,0.0938,0.09466,0.08749,0.08974,0.08973,0.08154,0.07289,...,0.05625,0.05278,0.05781,0.06119,0.04647,A,MIO_T,CH4,CRF1,BG
3,"A,MIO_T,CH4,CRF1,CY",0.00051,0.00052,0.00052,0.00052,0.00054,0.00056,0.00058,0.00057,0.00058,...,0.00073,0.00072,0.00072,0.00076,0.00068,A,MIO_T,CH4,CRF1,CY
4,"A,MIO_T,CH4,CRF1,CZ",0.45396,0.4141,0.38199,0.39465,0.37544,0.3684,0.3678,0.35565,0.33804,...,0.10939,0.09386,0.09667,0.0847,0.07195,A,MIO_T,CH4,CRF1,CZ

In [17]:

df_split.columns

Index(['freq,unit,airpol,src_crf,geo\TIME_PERIOD', '1990 ', '1991 ', '1992 ',
       '1993 ', '1994 ', '1995 ', '1996 ', '1997 ', '1998 ', '1999 ', '2000 ',
       '2001 ', '2002 ', '2003 ', '2004 ', '2005 ', '2006 ', '2007 ', '2008 ',
       '2009 ', '2010 ', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ',
       '2017 ', '2018 ', '2019 ', '2020 ', '2021 ', '2022 ', '2023 ', 'freq',
       'unit', 'airpol', 'src_crf', 'geo'],
      dtype='object')

In [18]:

paises = {
    "AT":"Austria","BE":"Belgium","BG":"Bulgaria","CY":"Cyprus","CZ":"Czech Republic",
    "DE":"Germany","DK":"Denmark","EE":"Estonia","EL":"Greece","ES":"Spain","FI":"Finland",
    "FR":"France","HR":"Croatia","HU":"Hungary","IE":"Ireland","IT":"Italy","LT":"Lithuania",
    "LU":"Luxembourg","LV":"Latvia","MT":"Malta","NL":"Netherlands","PL":"Poland","PT":"Portugal",
    "RO":"Romania","SE":"Sweden","SI":"Slovenia","SK":"Slovakia"
}

In [19]:

df_split["country"] = df_split["geo"].map(paises)

df_split[["geo","country"]].head()

  geo         country
0  AT         Austria
1  BE         Belgium
2  BG        Bulgaria
3  CY          Cyprus
4  CZ  Czech Republic

In [20]:
df_split["geo"].unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU27_2020', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU',
       'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK'],
      dtype=object)

In [23]:

for pais in df_split["country"].unique():
    print(pais)

Austria
Belgium
Bulgaria
Cyprus
Czech Republic
Germany
Denmark
Estonia
Greece
Spain
nan
Finland
France
Croatia
Hungary
Ireland
Italy
Lithuania
Luxembourg
Latvia
Malta
Netherlands
Poland
Portugal
Romania
Sweden
Slovenia
Slovakia

In [25]:
df_split.columns.tolist()

['freq,unit,airpol,src_crf,geo\\TIME_PERIOD',
 '1990 ',
 '1991 ',
 '1992 ',
 '1993 ',
 '1994 ',
 '1995 ',
 '1996 ',
 '1997 ',
 '1998 ',
 '1999 ',
 '2000 ',
 '2001 ',
 '2002 ',
 '2003 ',
 '2004 ',
 '2005 ',
 '2006 ',
 '2007 ',
 '2008 ',
 '2009 ',
 '2010 ',
 '2011 ',
 '2012 ',
 '2013 ',
 '2014 ',
 '2015 ',
 '2016 ',
 '2017 ',
 '2018 ',
 '2019 ',
 '2020 ',
 '2021 ',
 '2022 ',
 '2023 ',
 'freq',
 'unit',
 'airpol',
 'src_crf',
 'geo',
 'country']

In [26]:
df_split.columns = df_split.columns.str.strip()

In [27]:
df_split.columns.tolist()

['freq,unit,airpol,src_crf,geo\\TIME_PERIOD',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 'freq',
 'unit',
 'airpol',
 'src_crf',
 'geo',
 'country']

In [31]:
anos = df_split.loc[:, "1990":"2023"]

anos = anos.apply(pd.to_numeric, errors="coerce")

In [32]:
df_split["total_emissoes"] = anos.sum(axis=1)

In [33]:
ranking = (
    df_split
    .groupby("country")["total_emissoes"]
    .sum()
    .sort_values(ascending=False)
)

ranking.head()

country
Germany    3.448405e+08
France     2.010390e+08
Italy      1.739628e+08
Poland     1.307522e+08
Spain      1.123532e+08
Name: total_emissoes, dtype: float64

In [39]:

df_split.to_csv("nome_do_ficheiro.tsv", sep="\t", index=False)

In [41]:
df_split.to_csv("dados_atualizado.tsv", sep="\t", index=False)