In [43]:
import pandas as pd

populacao = pd.read_csv("populacao.csv", sep=";")
populacao.head()

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2026-01-28",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Population, total","SP.POP.TOTL",...
3  Africa Eastern and Southern,"AFE","Population,...
4  Afghanistan,"AFG","Population, total","SP.POP....

In [44]:
populacao = pd.read_csv("populacao.csv", skiprows=1)
populacao.head()

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,Last Updated Date,2026-01-28,Unnamed: 2
Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,NaN
Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,58694.0,58990.0,59069.0,59052.0,58950.0,58781.0,58047.0,58299.0,58349.0,58295.0,58368.0,58580.0,58776.0,59191.0,59909.0,60563.0,61276.0,62228.0,62901.0,61728.0,59931.0,59159.0,59331.0,60443.0,62753.0,65896.0,69005.0,73685.0,77595.0,79805.0,83021.0,86301.0,88451.0,89659.0,90588.0,91439.0,92074.0,93128.0,95138.0,97635.0,99405.0,100150.0,100917.0,101604.0,101838.0,102591.0,104110.0,105675.0,106807.0,107906.0,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0,107995.0,NaN
Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,153281203.0,157704381.0,162329396.0,167088245.0,171984985.0,177022314.0,182126556.0,187524135.0,193186642.0,198914573.0,204802976.0,210680842.0,217074286.0,223974122.0,230792729.0,238043099.0,245822010.0,253644643.0,261458202.0,269450407.0,277621771.0,286067346.0,294498625.0,302939121.0,311748681.0,320442961.0,329082707.0,338324002.0,347441809.0,356580375.0,366138524.0,375646235.0,385505757.0,395750933.0,406156661.0,416807868.0,427820358.0,439173286.0,450928044.0,463076637.0,475606210.0,488580707.0,502070763.0,516003448.0,530308387.0,544737983.0,559609961.0,575202699.0,590968990.0,607123269.0,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750491370.0,769280888.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,10266395.0,10505959.0,10756922.0,11017409.0,11290128.0,11567667.0,11853696.0,12157999.0,12469127.0,12773954.0,13059851.0,13340756.0,13611441.0,13655567.0,13169311.0,11937581.0,10991378.0,10917982.0,11190221.0,11426852.0,11420074.0,11387818.0,11523298.0,11874088.0,12045660.0,12238879.0,13278974.0,14943172.0,16250794.0,17065836.0,17763266.0,18452091.0,19159996.0,19887785.0,20130327.0,20284307.0,21378117.0,22733049.0,23560654.0,24404567.0,25424094.0,25909852.0,26482622.0,27466101.0,28284089.0,29347708.0,30560034.0,31622704.0,32792523.0,33831764.0,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0,42647492.0,NaN
Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,111246953.0,113795019.0,116444636.0,119203521.0,122086536.0,125072948.0,128176494.0,131449942.0,134911581.0,138569918.0,142337272.0,146258576.0,150402616.0,154721711.0,159166518.0,163762473.0,168585118.0,173255157.0,177880746.0,182811038.0,187889141.0,193104347.0,198485027.0,204062274.0,209566031.0,215178709.0,221191375.0,227246778.0,233360104.0,239801875.0,246415446.0,253207584.0,260297834.0,267506298.0,274968446.0,282780717.0,290841795.0,299142845.0,307725100.0,316588476.0,325663158.0,334984176.0,344586109.0,354343844.0,364358270.0,374790143.0,385360349.0,396030207.0,406992047.0,418127845.0,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0,521764076.0,NaN

In [45]:
populacao.columns

Index(['Last Updated Date', '2026-01-28', 'Unnamed: 2'], dtype='object')

In [46]:
populacao.columns = populacao.columns.str.strip()

In [47]:
eu_countries = [
    "Austria", "Belgium", "Bulgaria", "Cyprus", "Czech Republic",
    "Germany", "Denmark", "Estonia", "Greece", "Spain",
    "Finland", "France", "Croatia", "Hungary", "Ireland",
    "Iceland", "Italy", "Lithuania", "Luxembourg", "Latvia",
    "Malta", "Netherlands", "Norway", "Poland", "Portugal",
    "Romania", "Sweden", "Slovenia", "Slovakia"
]

In [49]:
populacao.columns

Index(['Last Updated Date', '2026-01-28', 'Unnamed: 2'], dtype='object')

In [50]:
populacao = pd.read_csv("populacao.csv", skiprows=4)
populacao.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0,107995.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,...,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750491370.0,769280888.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0,42647492.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,...,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0,521764076.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0,37885849.0,NaN

In [51]:
populacao.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='object')

In [52]:
populacao_eu = populacao[populacao["Country Name"].isin(eu_countries)]

In [54]:
eu_countries = [
    "Austria", "Belgium", "Bulgaria", "Cyprus", "Czech Republic",
    "Germany", "Denmark", "Estonia", "Greece", "Spain",
    "Finland", "France", "Croatia", "Hungary", "Ireland",
    "Iceland", "Italy", "Lithuania", "Luxembourg", "Latvia",
    "Malta", "Netherlands", "Norway", "Poland", "Portugal",
    "Romania", "Sweden", "Slovenia", "Slovakia"
]

In [55]:
populacao_eu = populacao[
    populacao["Country Name"].isin(eu_countries)
]

In [56]:
sorted(populacao_eu["Country Name"].unique())

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Slovenia',
 'Spain',
 'Sweden']

In [57]:
populacao_eu.to_csv("populacao_ue.csv", index=False)

In [58]:
populacao_eu.columns = populacao_eu.columns.str.strip()

In [59]:
populacao_eu = populacao_eu.drop(columns=[
    "Country Code",
    "Indicator Name",
    "Indicator Code"
])

In [60]:
anos_validos = [str(year) for year in range(1990, 2024)]

In [61]:
populacao_eu = populacao_eu[["Country Name"] + anos_validos]

In [62]:
populacao_eu.head()
populacao_eu.columns

Index(['Country Name', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [64]:
populacao_eu.to_csv("populacao_UNE.csv", index=False)

In [65]:
anos_validos = [str(year) for year in range(1990, 2024)]

populacao_eu[anos_validos] = populacao_eu[anos_validos].apply(
    pd.to_numeric, errors="coerce"
)

In [66]:
populacao_eu[anos_validos] = populacao_eu[anos_validos].astype("Int64")

In [67]:
populacao_eu.dtypes
populacao_eu.head()

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
14,Austria,7677850,7754891,7840709,7905633,7936118,7948278,7959017,7968041,7976789,...,8546356,8642699,8736668,8797566,8840521,8879920,8916864,8955797,9041851,9131761
17,Belgium,9967379,10004486,10045158,10084475,10115603,10136811,10156637,10181245,10203008,...,11209057,11274196,11331422,11375158,11427054,11488980,11538604,11586195,11680210,11779946
21,Bulgaria,8718289,8632367,8540164,8472313,8443591,8406067,8362826,8312068,8256786,...,7073572,6984225,6894139,6803468,6710798,6616726,6550696,6507301,6465097,6446596
53,Cyprus,788351,798944,810341,826034,844667,862695,880290,897568,914548,...,1201801,1219502,1237112,1254275,1270737,1286671,1302247,1317309,1331370,1344976
55,Germany,79433029,80013896,80624598,81156363,81438348,81678051,81914831,82034771,82047195,...,80982500,81686611,82348669,82657002,82905782,83092962,83160871,83196078,83177813,83287273

In [68]:
populacao_eu.to_csv("populacao_une.csv", index=False)

In [69]:
populacao_eu.columns

Index(['Country Name', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [70]:
populacao_eu["dif_1990_2023"] = (
    populacao_eu["2023"] - populacao_eu["1990"]
)

In [71]:
populacao_eu[["Country Name", "1990", "2023", "dif_1990_2023"]].head()

   Country Name      1990      2023  dif_1990_2023
14      Austria   7677850   9131761        1453911
17      Belgium   9967379  11779946        1812567
21     Bulgaria   8718289   6446596       -2271693
53       Cyprus    788351   1344976         556625
55      Germany  79433029  83287273        3854244

In [72]:
populacao_eu.to_csv("populacao_ue.csv", index=False)